<title>Contact</title>
{% extends "base.html" %}
{% block body %}
    <div class="container mt-5">
        <h2>Contact Information</h2>
        <p>If you have any questions, feel free to reach out to us using the information below:</p>

        <div class="row">


            <div class="col-md-4 mb-4">
                <h4>Phone Number</h4>
                <p>
                    <strong>Phone:</strong> 599 123 433<br>
                    <strong>Phone:</strong> 598 234 193
                </p>
            </div>


            <div class="col-md-4 mb-4">
                <h4>Email Us</h4>
                <p>
                    <strong>Support:</strong> <a href="TBCTechSchool@geolab.edu.ge ">TBCTechSchool@geolab.edu.ge </a><br>
                    <strong>Support:</strong> <a href="TechSchool@geolab.edu.gem">TechSchool@geolab.edu.ge</a>
                </p>
            </div>
        </div>

        <p>
            <a href="https://facebook.com" target="_blank">Facebook</a> |
            <a href="https://twitter.com" target="_blank">Twitter</a> |
            <a href="https://instagram.com" target="_blank">Instagram</a>
        </p>
    </div>

    <footer class="bg-light py-4 mt-5">
        <div class="container text-center">
            <p>© 2025 nata.kvata..(✿◕‿◕✿)</p>
        </div>
    </footer>
{% endblock %}