<title>Login</title>
{% extends "base.html" %}
{% block body %}

<form method="post" enctype="multipart/form-data" id="login-form">
    {{ form.hidden_tag() }}
    <div class="text-center mt-5">
        <h2>Login</h2>
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-3 d-flex justify-content-center">
                    {{ form.username(class_='form-control w-100', id='username', placeholder=form.username.label.text)
                    }}
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-3 d-flex justify-content-center">
                    {{ form.password(class_='form-control w-100', id='password', placeholder=form.password.label.text)
                    }}
                </div>
            </div>
        </div>
        <div class="mb-3">
            <button type="submit" class="btn btn-md mb-2 me-2 btn-pink">
                {{ form.login }}
                <i class="bi bi-cart-plus"></i>
            </button>
        </div>
        {% if is_incorrect == 'true' %}
        <div class="mb-3">
            <h3 class="text-danger" id="error-message">Username or password is incorrect</h3>
        </div>
        <script>
            document.addEventListener('DOMContentLoaded', function () {
                document.getElementById('username').classList.add('is-invalid');
                document.getElementById('password').classList.add('is-invalid');
            });
        </script>
        {% endif %}
    </div>
</form>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        const usernameInput = document.getElementById('username');
        const passwordInput = document.getElementById('password');
        const errorMessage = document.getElementById('error-message');


        function clearError() {
            if (errorMessage) {
                errorMessage.style.display = 'none';
            }
            usernameInput.classList.remove('is-invalid');
            passwordInput.classList.remove('is-invalid');
        }

        usernameInput.addEventListener('input', clearError);
        passwordInput.addEventListener('input', clearError);
    });
</script>

{% endblock %}
